    .active {
        color: red;
    }

    .navlink {
        display: block;
        padding-top: 0.5rem
            /* 8px */
        ;
        padding-bottom: 0.5rem
            /* 8px */
        ;

    }

/* 
    ` block py-2 pr-4 pl-3 duration-200 border-b 
    border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 hover:text-orange-700 lg:p-0` */